<%- include('./partials/header') %>

        <div id="wrapper">
            <%- include('./partials/nav') %>


            <div class="container">
                <div class="row  border rounded-5 p-lg-5 p-sm-5 p-md-2 m-lg-5">
                    <div class="col d-flex" style="flex-flow: column;">
                        <div class="fs-3 text-center mb-5 mt-sm-3"> About Us</div>
                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Our Mission
                            </div>

                            <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                                At Train Food Ordering, our mission is to revolutionize the dining experience for train passengers by providing instant food delivery through drones. We aim to enhance convenience, speed, and quality, ensuring that passengers can enjoy delicious meals right at their seats, even during long train journeys. Our goal is to make train travel more enjoyable and hassle-free by leveraging innovative technology and exceptional service.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                                <img src="/photos/mission.jpg" alt="food image" width="100%" class="rounded">
                            </div>
                        </div>


                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Our Story
                            </div>

                            <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                                Our journey began with a vision to address the challenges faced by train passengers when it comes to food availability and quality. We realized that traditional methods of delivering food on trains often fell short in terms of speed and customer satisfaction. That's when we decided to embrace cutting-edge technology and introduce drone-based food delivery. By combining our passion for technology and dedication to customer service, we embarked on a mission to redefine the dining experience on trains.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                                <img src="/photos/stories.jfif" alt="food image" width="100%" class="rounded">
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Our Service
                            </div>

                            <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                                At Train Food Ordering, we take pride in offering a unique and efficient food delivery service. Through our innovative use of drones, we have eliminated the limitations of traditional food delivery methods on trains. Passengers can now enjoy a wide range of delectable cuisine options, freshly prepared and promptly delivered to their seats. Our service ensures that meals are delivered in a hygienic and secure manner, enhancing the overall train travel experience. We strive to provide exceptional service and exceed customer expectations with every order, making train journeys more delightful and memorable.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                                <img src="/photos/service.jpg" alt="food image" width="100%" class="rounded">
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Our Social Proof
                            </div>

                            <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                                Don't just take our word for it - hear what our satisfied customers have to say:
                                </br>
                                </br>
                                "I was amazed by the convenience and efficiency of Train Food Ordering. The drone delivery was a game-changer, and the food was absolutely delicious. Highly recommended!" - Sarah R.
                                </br></br>
                                "The variety of food options available through Train Food Ordering was impressive. It was refreshing to have such a diverse menu while traveling by train. The service was prompt, and the quality of food exceeded my expectations." - Rajesh K.
                                </br></br>
                                "Train Food Ordering made my journey so much more enjoyable. Being able to order my favorite meals and have them delivered right to my seat was a game-changer. The drone delivery added an extra element of excitement. I will definitely use this service again!" - Emily L.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                                <img src="/photos/social.jpg" alt="food image" width="100%" class="rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<%- include('./partials/footer') %>